.dashboard{
    display: flex;
    background-color: white;
    margin: 30px;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}
.dashboard .line-chart{
    color: orange;
    display: grid;
    justify-content: left;
}

.dashboard .bar-chart{
    color: orange;
    display: grid;
    justify-content: right;
}
.dashboard .pie-chart{
    color: orange;
    display: grid;
    justify-content: right;
}