.home-image{
    margin: 30px;
    width: 80%;
    border: 2px solid gray;
    border-radius: 10px;
}


@media screen and (max-width:1100px)
{
    .home-image{
        margin: 10px;
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .home-image{
        margin: 10px;
        width: 95%;
    }
}
